@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WElcome to the shop</h1>
    <p class="lead">Nikol shop is the best shop in the world.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <img src='../../photo/logo.png'>

</div>
